* {
    outline: 1px red solid;
}
.nomer{
    margin-bottom: -6px;
}
.k{
    z-index: 0;
    position	: relative;
}
.imgk{
    width: 100%;
    height: 400px;
    filter: brightness(40%);
}
.txt{
   
}
.txt1{
    display: block;
    color: white;
    position: absolute;
     margin-top: -300px;
    font-size: 2.7rem;
    font-family: Arial;
    font-weight: 700;
    width: 700px;
    align-content: center;
    text-align: center;
    margin-left: 25%;
    a
    /*z-index: 1;*/
}
.txt2{
    color: white;
     margin-top: -200px;
    position	: absolute;
    margin-left: 37%;
    font-size: 45px
    
}